@{
    Layout = "~/Areas/SiteManage/Views/API/_Layout.cshtml";
    ViewBag.PageName = "DocIndex";
}
<div class="col-xs-12">
    <h3 style="text-align: center;">@(Model.APIName)</h3>
    <!-- 这里开始是内容 -->
    @RenderPage("ShowAPI" + Model.APIType + ".cshtml")
</div>
@section scripts{
    <script>
        var myPage = {};
        myPage.action = '@(ViewContext.RouteData.Values["action"].ToString())';
        myPage.controller = '@(ViewContext.RouteData.Values["controller"].ToString())';
        myPage.id = '@(ViewContext.RouteData.Values["id"])';
        myPage.frame = '@(Request["Frame"])';
        myPage.APIID = '@(ViewBag.APIID)';
        myPage.APIType = '@(Model.APIType)';
        myPage.pageUrl = '/SiteManage/API/DocIndex/?AppID=';
        myPage.IsTool = 0;
    </script>
    <script src="/Resources/JsLib/json2.js"></script>
    <script src="/Static/SiteManage/js/APIShow.js"></script>
    <script src="/Static/SiteManage/js/RequestParamModel.js"></script>
    <script src="/Static/SiteManage/js/ResponseParamModel.js"></script>
    <script src="/Static/SiteManage/js/ErrorParamModel.js"></script>
    @if (Model.APIType == 2)
    {
        <link href="/Resources/JsLib/editormd/css/editormd.preview.min.css" rel="stylesheet" />
        <script src="/Resources/JsLib/editormd/editormd.min.js"></script>
        <script src="/Resources/JsLib/marked.min.js"></script>
        <script src="/Resources/JsLib/prettify.min.js"></script>
    }
}